@charset "UTF-8";

@import 'datepicker';

.input:hover,
input:hover,
select:hover,
.textarea:hover,
.select select:hover,
.is-hovered.input,
input.is-hovered,
select.is-hovered,
.is-hovered.textarea,
.select select.is-hovered {
	border-color: $font-color !important;
}

input,
select,
textarea {
	display: inline-block;
	padding: 0.85rem;
	margin-right: 2px;
	margin-bottom: 1em;

	+ button,
	+ .mat-icon-button {
		margin-bottom: 1em;
	}
}

button,
.p-link,
.button {
	&:focus {
		@extend .outlined;
	}
}

textarea,
input,
.input,
.textarea,
select,
.select {
	font-size: 1rem !important;
	line-height: 28px;
	border: solid 1px $font-color !important;
	border-radius: 4px;
	font-family: $default_font;
	@extend .clickable;

	&:focus {
		@extend .outlined;
	}
}

input,
select,
textarea {
	@extend .clickable;
	padding: 0.25rem 0.25rem 0.25rem 1rem;

	&[required] {
		&:after {
			content: '*';
			color: red;
		}
	}
}

// radio input structure
.mat-checkbox-label,
.mat-checkbox-layout .mat-checkbox-label {
	max-width: 90vw;
	overflow-x: auto;
	@extend .clickable;
}
button,
.button {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;

	/* identical to box height, or 125% */
	text-align: center;
	display: inline-block;
	padding: 10px 30px;

	&.is-thin {
		padding: 6px 30px;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
	}
	&.has-no-border {
		border: 0;
	}
}

.button {
	label {
		margin-bottom: 0;
		width: 100%;
		display: inline-block;
		text-align: left;
	}
}

input[type='radio'] {
	padding: 1em;
	margin-bottom: 0;
	color: $primary-color;
	width: 2em;
}

li {
	list-style-type: none;
}

.btn-block {
	display: block;
	width: 100%;
}

button[type='submit'] {
	margin-top: 2em;
}

.hint {
	margin-top: 0;
	margin-bottom: 1em;
	padding: 1em;
	background: $warning;
	color: $white;
}

select,
option {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	background-color: transparent;
	//background-image: url('assets/img/fleche_bas.svg') !important;
	padding-right: 2.5rem;
	background-repeat: no-repeat;
	background-size: 9px 8px;
	background-position: right 1rem center;
	background-clip: border-box;
	min-width: 10rem;
	margin-bottom: 0.25rem;
	border-bottom: 2px solid $primary_color !important;
}

select {
	@extend .select, .input;
}

#multi_hours select {
	min-width: 300px !important;
}

input {
	border-color: #4e4c59 !important;
	@extend .text-ellipsis;
	display: block;
}

textarea {
	width: 100%;
	min-height: 213px;
	padding: 0.5em 1em;
	margin-bottom: 1em;
	border-left: 3px solid $primary_color;
}

.comment {
	border-left: 6px solid $primary_color;
	margin-top: 25px;
	margin-bottom: 25px;
	flex-wrap: wrap;
	padding-left: 17px;
}

.deletable-field-hint {
	margin-right: 2.8em;
	margin-top: -0.7em;
	-moz-border-radius-bottomright: 1em;
}

.mat-error {
	display: block;
	background: $warning;
	padding: 1em;
}

mat-checkbox {
	display: block;
}

.cdk-drag {
	cursor: pointer;

	&:hover {
		background: #fefefe;
	}
}

.fa {
	margin-right: 1ch;

	&.fa-times,
	&.fa-trash {
		margin-right: 0;
	}
}

.example-list {
	width: 500px;
	max-width: 100%;
	border: solid 1px #ccc;
	min-height: $header-nav-inner-height;
	display: block;
	background: white;
	border-radius: 4px;
	padding: 1em 2em;
}

.example-box {
	padding: 20px 10px;
	border-bottom: solid 1px #ccc;
	color: rgba(0, 0, 0, 0.87);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	cursor: move;
	background: white;
	font-size: 14px;
}

.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
		0 3px 14px 2px rgba(0, 0, 0, 0.12);
	padding: 0.5em;
	height: 4em;
	background: white;
}

.cdk-drag-placeholder {
	opacity: 1;
	padding: 1em;
	height: 4em;
	width: 100%;
	background: $primary;
}

.cdk-drag-animating {
	padding: 1em;
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
	border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.bar-nav-admin {
	background: #ccc;
	display: block;
	width: 100%;
	padding: 1em;
}

.advanced-config {
	.work-in-progress {
		background: $primary-light;
		color: $warning-dark;
	}
}

.step {
	max-width: $main-column-width;
	margin: 0 auto;
	padding: 120px 0;
	box-sizing: border-box;
	@extend .top-padding-nav;

	.columns {
		margin: 0;
		.column {
			margin: 0;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.choice-bars-display {
		.columns {
			.column {
				&.choice-label {
					width: 5em;
					text-align: right;
					padding-right: 1em;
				}
			}
		}
	}
}

// resume de la création de sondage
.step-resume {
	hr {
		margin-bottom: 0;
	}

	.rounded-block {
		padding-bottom: 0;
	}
	.go-to-step {
		color: $primary;
		padding: 1rem 0.5rem;
		padding-left: 44px;
		//margin-left: -1em;
		//margin-right: -1em;
	}

	.list-datechoices {
		ul {
			margin-left: 0;
			ul {
				margin-left: 1rem;
			}
		}
	}
}

.block-resume {
	@extend .rounded-block;
}

label {
	font-family: $default_font;
	color: $font_color;
	font-weight: bold;
	font-size: 14px;
	line-height: 1rem;
	margin-bottom: 0.5rem;
	display: block;
	max-width: 100%;
	@extend .clickable;
}

.striked-background {
	&:after {
		content: '';
		position: absolute;
		border-top: 1px solid $border-color;
		width: 4rem;
		transform: rotate(45deg);
		transform-origin: 0% 0%;
		left: 0;
		top: 0;
	}
}

.people {
	max-width: $main-column-width/2;
}

.bar-div {
	padding: 0.25rem 0.025rem;
	text-align: center;
	border-radius: 0.25rem;
	max-width: 100%;
}

div {
	&.has-background-yes {
		border: solid 1px #128149;
		background: #ecfff5;
		color: #128149;
		@extend .bar-div;
	}

	&.has-background-maybe {
		border: solid 1px #86671b;
		background: #fffaec;
		color: #86671b;
		@extend .bar-div;
	}

	&.has-background-no {
		border: solid 1px #d51b38;
		background: #ffecee;
		color: #d51b38;
		@extend .bar-div;
	}
}
