<div class="padded">
	<h1>
		<i class="fa fa-key"></i>
		Sondage protégé
	</h1>
	<p>Pour accéder au sondage {{ custom_url }} il vous faut saisir la phrase de passe.</p>
	<input type="text" [(ngModel)]="password" *ngIf="display_pass" />
	<input type="password" [(ngModel)]="password" *ngIf="!display_pass" />
	<br />
	<button (click)="display_pass = !display_pass">voir</button>
	<br />
	Méthode de chiffrement 1:
	<select name="ciphering_method" id="ciphering_method">
		<option value="MD5">MD5</option>
	</select>
	Méthode de chiffrement 2:
	<select name="ciphering_method_2" id="ciphering_method_2">
		<option value="MD5">MD5</option>
	</select>

	steak haché:
	{{ cipherPass() }}

	<br />

	<button class="is-primary button is-large" (click)="redirectToConsultationPage()">
		Allons-y
	</button>
</div>
